section.gallery
  h2.gallery__title.title Фотогалерея
  .swiper-controls
    .swiper-pagination
    .swiper-buttons
      button.swiper-gallery-button-prev(aria-label="Предыдущий слайд")
        <svg width="15" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2 3 12l10 10" stroke="#fff" stroke-width="3"/></svg>
      button.swiper-gallery-button-next(aria-label="Следующий слайд")
        <svg width="15" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m2 2 10 10L2 22" stroke="#fff" stroke-width="3"/></svg>
  .gallery__slider
    .swiper.swiper-gallery-big
      .swiper-wrapper
        .swiper-slide
          img.swiper-image(src=require('/src/images/gallery-1@1x.jpg'))
        .swiper-slide
          img.swiper-image(src=require('/src/images/gallery-2@1x.jpg'))
        .swiper-slide
          img.swiper-image(src=require('/src/images/gallery-3@1x.jpg'))
    .swiper.swiper-gallery-small
      .swiper-wrapper
        .swiper-slide
          img.swiper-image(src=require('/src/images/gallery-2@1x.jpg'))
        .swiper-slide
          img.swiper-image(src=require('/src/images/gallery-3@1x.jpg'))
        .swiper-slide
          img.swiper-image(src=require('/src/images/gallery-1@1x.jpg'))
